
/* ==========================================================================
   Layout
   ========================================================================== */

.test,
.test--fragmented {
  display: none;
  position: relative;
  height: 500px;
}

img {
  position: absolute;
  width: 240px;
}

.image--two {
  left: 120px;
}

.image--three {
  left: 300px;
}

.slide {
  position: absolute;
  top: 0;
}

.target {
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
}

.target--one {
  top: 90px;
  left: 200px;
}

.target--two {
  top: 90px;
  left: 215px;
}
