
      <div class="download">
        <a class="button" href="http://github.com/kennethcachia/Background-Check">Github Project</a>
        <a class="button button--secondary" href="http://raw.github.com/kennethcachia/Background-Check/master/background-check.min.js">Download</a>
      </div>