
    <div class="footer container">
      <span class="twitter-share">
        <a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-text="BackgroundCheck &mdash; Automatically switch to a darker or a lighter version of an element.">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </span>

      <span class="footer-credits"><a href="http://twitter.com/kennethcachia/" target="_blank">@kennethcachia</a></span>
    </div>