
        <div class="border border--one border--fixed"><div class="icon target"></div></div>
        <div class="border border--two border--fixed"><div class="icon target"></div></div>
        <div class="border border--three border--fixed"><div class="icon target"></div></div>
        <div class="border border--four border--fixed"><div class="icon icon--simple target"></div></div>