<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1000">

    <title>BackgroundCheck</title>
    <meta name="description" content="Automatically switch to a darker or a lighter version of an element depending on the brightness of images behind it.">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/examples.css" >
    {{#each styles}}<link rel="stylesheet" href="styles/{{this}}.css" >
    {{/each}}
    {{#if requireJS}}<script data-main="scripts/require-main" src="scripts/require.min.js"></script>
    {{else}}<script src="scripts/background-check.min.js"></script>
    {{#if jQuery}}<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>{{/if}}
    {{#each scripts}}<script src="scripts/{{this}}.js"></script>
    {{/each}}
    {{/if}}
  </head>

  <body>
    {{> body}}
  </body>
</html>