---
styles: ["slider"]
scripts: ["slider"]
---

    <div class="demo-css--fullscreen">
      <div class="slider">
        <div class="slider-strip">
          <div class="slider-item slider-item--one"></div>
          <div class="slider-item slider-item--two"></div>
          <div class="slider-item slider-item--three"></div>
        </div>

        <div class="slider-arrow slider-arrow--left">&#8249;</div>
        <div class="slider-arrow slider-arrow--right">&#8250;</div>
        <div class="slider-dots"></div>
      </div>
    </div>

    {{> ga}}