---
scripts: ["fixed-nav"]
---

    <div class="fixed">
      <div class="fixed-nav">
        <div class="fixed-nav-line"></div>
        <div class="fixed-nav-logo">BackgroundCheck</div>
        <div class="fixed-nav-line"></div>
      </div>
    </div>

    <div class="list container">
      <div class="list-item">
        <img src="images/3.jpg" draggable="false" />
      </div>

      <div class="list-item">
        <img src="images/2.jpg" draggable="false" />
      </div>

      <div class="list-item">
        <img src="images/5.jpg" draggable="false" />
      </div>

      <div class="list-item">
        <img src="images/6.jpg" draggable="false" />
      </div>
    </div>

    <div class="header">
      {{> header}}
      {{> download}}
      {{> nav}}
    </div>

    {{> footer}}
    {{> ga}}